* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  list-style-type: none;
}
.nav-bar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 1366px;
  border-radius: 4rem;
  background-color: #1b262c;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  z-index: 999;
}
.nav-bar__content ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar__item > a,
.nav-bar__item > .nav-bar__item--highlighted {
  display: inline-block;
  padding: 1rem;
  margin: 0rem;
  font-size: 1.25em;
}
.nav-bar__item a,
.nav-bar__item--highlighted {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-bar__item a:hover,
.nav-bar__item--highlighted:hover {
  color: #d69927;
  cursor: pointer;
}

.nav-bar__button--yellow button {
  padding: 1rem 1.25rem;
  font-size: 1.25em;
  background-color: #e3a127;
  color: #fff;
  border-radius: 100px;
  border: none;
}
.nav-bar__button--yellow button:hover {
  cursor: pointer;
  background-color: #c58f28;
}
.nav-bar__drop-down-item > .nav-bar__item--highlighted,
.nav-bar__drop-down-item > li a:hover,
.nav-bar__deep-drop-down-item {
  cursor: pointer;
  color: #fff;
}

#drop-down-list-position {
  position: relative;
}
.nav-bar__item--hover-state > ul {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #1b262c;
  width: 150%;
  font-size: 1.25rem;
  border: 1px solid #000;
  box-shadow: -6px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.nav-bar__item--hover-state:hover > ul {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  position: absolute;
  top: 100%;
  left: 0;
  visibility: visible;
  display: flex;
  flex-direction: column;
  background-color: #1b262c;
  width: 150%;
  font-size: 1.25rem;
  border: 1px solid #000;
  box-shadow: -6px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.nav-bar__down-angle {
  font-size: 0.8rem;
  margin-left: -5px;
}
.nav-bar__drop-down-item > a,
.nav-bar__item > ul > li > .nav-bar__item--highlighted,
.nav-bar__deep-drop-down-item > a {
  display: block;
  padding: 1rem;
}
.nav-bar__deep-drop-down-container > ul {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(10px);
  transition: 0.3s ease;
  position: absolute;
  top: 50px;
  left: -185px;
  display: flex;
  flex-direction: column;
  background-color: #1b262c;
  width: 100%;
  font-size: 1.25rem;
  border: 1px solid #000;
  box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.nav-bar__deep-drop-down-container:hover > ul {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  position: absolute;
  top: 50px;
  left: -169px;
  display: flex;
  flex-direction: column;
  background-color: #1b262c;
  width: 100%;
  font-size: 1.25rem;
  border: 1px solid #000;
  box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.nav-bar__logo,
.nav-bar__button {
  margin-right: 5%;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #d1d4d5;
}
@media (max-width: 1280px) {
  .nav-bar {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 2vh;
  }
  .nav-bar__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-bar__content ul {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    position: fixed;
    left: -150%;
    top: 150%;
    gap: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    text-align: start;
    border-radius: 10px;
    transition: left 0.3s ease;
    background-color: #1b262c;
    font-size: 1.5rem;
  }
  .nav-bar__item {
    margin: 1px 0;
  }
  .nav-bar__content ul.active {
    left: 0%;
  }
  .nav-bar__item--hover-state:hover > ul,
  .nav-bar__deep-drop-down-container:hover > ul {
    display: none;
  }

  .nav-bar__item--hover-state > ul.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: none;
    background-color: #293339;
    width: 90%;
    font-size: 1.5rem;
    border: 1px solid #4d5d64;
    box-shadow: none;
    margin: 0px auto;
  }
  .nav-bar__down-angle {
    font-size: 16px;
    display: inline-block;
  }
  .nav-bar__down-angle i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    display: inline-block;
    margin-left: 100%;
    padding: 5px;
    background-color: #3c3f38;
    color: #fff;
    border-radius: 50%;
  }
  .nav-bar__down-angle i.active {
    background-color: #e3a127;
    color: #fff;
    transform: rotate(180deg);
  }

  .nav-bar__deep-drop-down-container > ul.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #293339;
    width: 90%;
    font-size: 1em;
    background-color: #293339;
    border: 1px solid #4d5d64;
    margin: 0px auto;
    box-shadow: none;
  }
  .nav-bar__button {
    margin-left: auto;
  }
  .nav-bar__button--yellow button {
    padding: 6px;
    font-size: 11px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
